{#- First process vars without a section #}
{%- for property, value in my_config1.iteritems() | sort %}
  {%- if value is not mapping -%}
    {{ property ~ " = " ~ value ~ "\n" }}
  {%- endif %}
{%- endfor %}

{#- Then process sections #}
{%- for section, options in my_config1.iteritems() | sort %}
  {%- if options is mapping -%}
    {{ "\n[" ~ section ~ "]\n" }}
    {%- for property, value in options.iteritems() | sort -%}
      {{ property ~ " = " ~ value ~ "\n" }}
    {%- endfor %}
  {%- endif %}
{%- endfor %}
